body{
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container{
    background:#1e293b;
    width:400px;
    margin:100px auto;
    padding:30px;
    border-radius:12px;
    text-align:center;
}

h1{
    color:cyan;
}